apiVersion: v1
kind: Service
metadata:
  name: calibre-web
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8083
      protocol: TCP
  selector:
    app: calibre-web
