grafana:
  enabled: false

prometheus:
  ingress:
    enabled: false

  prometheusSpec:
    enableRemoteWriteReceiver: false

    scrapeClasses:
      - default: true
        name: cluster-relabeling
        relabelings:
          - sourceLabels: [ __name__ ]
            regex: (.*)
            targetLabel: cluster
            replacement: dev
            action: replace

    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    retention: 12h

    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: [ "ReadWriteOnce" ]
          resources:
            requests:
              storage: 2Gi
          storageClassName: "microk8s-hostpath"

    serviceMonitorNamespaceSelector:
      matchLabels:
        monitoring: enabled

    podMonitorNamespaceSelector:
      matchLabels:
        monitoring: enabled

#    resources:
#      requests:
#        cpu: 100m
#        memory: 128Mi
#      limits:
#        cpu: 200m
#        memory: 256Mi
#
#    # Remote write to the core cluster Prometheus
#    remoteWrite:
#      - url: http://prometheus.internal/api/v1/write
#        writeRelabelConfigs:
#          - sourceLabels: [__name__]
#            regex: (.*)
#            targetLabel: cluster
#            replacement: dev
#            action: replace