grafana:
  enabled: false

prometheus:
  ingress:
    enabled: true
    ingressClassName: public
    hosts:
      - prometheus-dev.internal
    paths:
      - /
    pathType: Prefix

  prometheusSpec:
    enableRemoteWriteReceiver: false

    scrapeClasses:
      - default: true
        name: cluster-relabeling
        relabelings:
          - sourceLabels: [ __name__ ]
            regex: (.*)
            targetLabel: cluster
            replacement: dev
            action: replace

    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false
    retention: 12h

    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: [ "ReadWriteOnce" ]
          resources:
            requests:
              storage: 2Gi
          storageClassName: "microk8s-hostpath"

    additionalScrapeConfigs: []

    serviceMonitorSelector:
      matchLabels:
        release: kube-prometheus-stack

    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

    # Remote write to the core cluster Prometheus
    remoteWrite:
      - url: http://prometheus.internal/api/v1/write
        writeRelabelConfigs:
          - sourceLabels: [ __meta_kubernetes_namespace ]
            regex: home-assistant
            action: keep
          - sourceLabels: [__name__]
            regex: (.*)
            targetLabel: cluster
            replacement: dev
            action: replace

prometheusOperator:
  admissionWebhooks:
    enabled: true
    certManager:
      enabled: true
    patch:
      enabled: false
