grafana:
  enabled: false

alertmanager:
  enabled: false

kubeStateMetrics:
  enabled: false

nodeExporter:
  enabled: false

prometheusOperator:
  enabled: true
  admissionWebhooks:
    enabled: true
    patch:
      enabled: true

prometheus:
  enabled: true

  prometheusSpec:

    serviceMonitorNamespaceSelector:
      matchLabels:
        monitoring: enabled

    podMonitorNamespaceSelector:
      matchLabels:
        monitoring: enabled

    # Only use the ServiceMonitor that we crate
    serviceMonitorSelectorNilUsesHelmValues: false
    podMonitorSelectorNilUsesHelmValues: false

    # small local cluster retention time
    retention: 12h

    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          storageClassName: microk8s-hostpath
          resources:
            requests:
              storage: 2Gi

    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

    # Remote write to the core cluster Prometheus
    remoteWrite:
      - url: http://prometheus.internal/api/v1/write
        writeRelabelConfigs:
          - sourceLabels: [__name__]
            regex: (.*)
            targetLabel: cluster
            replacement: dev
            action: replace