apiVersion: v1
kind: Service
metadata:
  name: jellyfin
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.deployment.containerPort }}
      protocol: TCP
  selector:
    app: jellyfin
