image:
  tag: 2025.10.1

ingress:
  hosts:
    - host: home-assistant-dev.internal
      paths:
        - path: /
          pathType: Prefix

resources:
  limits:
    cpu: 350m
    memory: 500Mi
  requests:
    cpu: 350m
    memory: 500Mi

#initContainers:
#  - name: setup-hacs
#    image: alpine:3.18
#    securityContext:
#      runAsUser: 0
#    command: [ "/bin/sh", "-c" ]
#    args:
#      - |
#        set -e;
#        apk add --no-cache bash curl unzip > /dev/null;
#
#        echo "[INFO] Instalando HACS versión 2.0.5";
#        cd /config/custom_components;
#
#        rm -rf hacs || true;
#
#        curl -sL https://github.com/hacs/integration/releases/download/2.0.5/hacs.zip -o hacs.zip;
#        unzip hacs.zip -d hacs;
#        rm hacs.zip;
#
#        echo "[INFO] Instalación de HACS 2.0.5 completada.";
#    volumeMounts:
#      - name: home-assistant-development
#        mountPath: /config

#configuration:
#  templateConfig: |-
#    openid:
#      client_id: {{ .Values.openid.client_id | quote }}
#      client_secret: {{ .Values.openid.client_secret | quote }}
#      configure_url: "https://auth-dev.internal.org/application/o/home-assistant/.well-known/openid-configuration"
#      scope: "openid profile email"
#      username_field: "preferred_username"
#      block_login: false
configuration:
  templateConfig: |-
    # Loads default set of integrations. Do not remove.
    default_config:

    {{- if or .Values.ingress.enabled .Values.ingress.external }}
    http:
      use_x_forwarded_for: true
      trusted_proxies:
        {{- range .Values.configuration.trusted_proxies }}
        - {{ . }}
        {{- end }}
    {{- end}}
    # Load frontend themes from the themes folder
    frontend:
      themes: !include_dir_merge_named themes

    automation: !include automations.yaml
    script: !include scripts.yaml
    scene: !include scenes.yaml
