image:
  repository: gelbphoenix/autocaliweb
  tag: 0.11.3
  pullPolicy: IfNotPresent

deployment:
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 100m
      memory: 128Mi

service:
  type: ClusterIP
  port: 80

ingress:
  className: public
  hostname: placeholder.example.com
  annotations: {}
  tls: []

volume:
  path: /mnt/services/calibre-web
