image:
  repository: linuxserver/calibre-web
  tag: 0.6.25
  pullPolicy: IfNotPresent

deployment:
  additionalEnv: []
  additionalVolumeMounts:
    - name: calibre-books
      mountPath: /calibre-library
    - name: calibre-ingest
      mountPath: /acw-book-ingest
  additionalVolumes:
    - name: calibre-books
      hostPathPath: calibre-library
    - name: calibre-ingest
      hostPathPath: ingest
  resources:
    requests:
      cpu: 500m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 256Mi

service:
  type: ClusterIP
  port: 80

ingress:
  className: public
  hostname: placeholder.example.com
  annotations: {}
  tls: []

volume:
  path: /mnt/services/calibre-web
