image:
  repository: paperlessngx/paperless-ngx
  tag: 2.16.2

deployment:
  additionalEnv: {}
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 300m
      memory: 512Mi
  oidc:
    enabled: false
    logoutRedirectUrl: https://placeholder.example.com

  envSecretKeys:
    postgres: secret/paperless/development/postgres
    oidc: secret/paperless/development/authentik

ingress:
  enabled: true
  className: public
  hostname: placeholder.example.com
  proxyBodySize: "100m"
  annotations: {}
  tls: []

storagePath:
  data: /mnt/paperless-ngx/data
  media: /mnt/paperless-ngx/media

redis:
  image: redis:7-alpine
  storagePath: /mnt/paperless-ngx/redis

postgresql:
  image: postgres:15-alpine
  database: paperlessdb
  port: 5432
  storagePath: /mnt/paperless-ngx/postgres
