image:
  tag: 0.6.24

deployment:
  resources:
    requests:
      cpu: 200m
      memory: 256Mi
    limits:
      cpu: 200m
      memory: 256Mi


ingress:
  enabled: true
  hostname: calibre-dev.internal
