apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: dev
  namespace: {{ .Values.kargo.project.name }}
  annotations:
    kargo.akuity.io/color: green
spec:
  requestedFreight:
    - origin:
        kind: Warehouse
        name: {{ .Values.kargo.project.name }}
      sources:
        direct: true
  promotionTemplate:
    spec:
      steps:
        - task:
            name: promote
          vars:
            - name: chartValuesPath
              value: {{ .Values.kargo.type }}/{{ .Values.kargo.location }}/development
            - name: valuesPath
              value: {{ .Values.kargo.type }}/{{ .Values.kargo.location }}/development
            - name: argocdApp
              value: {{ .Values.kargo.name }}-development
---
apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: pro
  namespace: {{ .Values.kargo.project.name }}
  annotations:
    kargo.akuity.io/color: red
spec:
  requestedFreight:
    - origin:
        kind: Warehouse
        name: {{ .Values.kargo.project.name }}
      sources:
        stages:
          - dev
  promotionTemplate:
    spec:
      steps:
        - task:
            name: promote
          vars:
            - name: chartValuesPath
              value: {{ .Values.kargo.type }}/{{ .Values.kargo.location }}/production
            - name: valuesPath
              value: {{ .Values.kargo.type }}/{{ .Values.kargo.location }}/production
            - name: argocdApp
              value: {{ .Values.kargo.name }}-production
{{ if .Values.kargo.stages.core.enabled -}}
---
apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: core
  namespace: {{ .Values.kargo.project.name }}
  annotations:
    kargo.akuity.io/color: '#a62e98'
spec:
  requestedFreight:
    - origin:
        kind: Warehouse
        name: {{ .Values.kargo.project.name }}
      sources:
        stages:
          - dev
  promotionTemplate:
    spec:
      steps:
        - task:
            name: promote
          vars:
            - name: chartValuesPath
              value: {{ .Values.kargo.type }}/{{ .Values.kargo.location }}
            - name: valuesPath
              value: {{ .Values.kargo.type }}/{{ .Values.kargo.location }}
            - name: argocdApp
              value: {{ .Values.kargo.name }}
{{- end -}}