{{- range $name, $stage := .Values.kargo.stages }}
{{ if and $stage.enabled not $stage.onlyConfig -}}
apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: {{ $name }}
  namespace: {{ $.Values.kargo.project.name }}
  annotations:
    kargo.akuity.io/color: {{ $stage.color | quote }}
spec:
  requestedFreight:
    - origin:
        kind: Warehouse
        name: {{ $.Values.kargo.project.name }}
      sources:
        {{- if eq $name "dev" }}
        direct: true
        {{- else }}
        stages:
          - dev
        {{- end }}
  promotionTemplate:
    spec:
      steps:
        - task:
            name: promote
          vars:
            - name: chartValuesPath
              value: {{ $.Values.kargo.type }}/{{ $.Values.kargo.location }}{{ $stage.relPath }}
            - name: valuesPath
              value: {{ $.Values.kargo.type }}/{{ $.Values.kargo.location }}{{ $stage.relPath }}
            - name: argocdApp
              value: {{ $.Values.kargo.name }}{{ $stage.argoCDAppSuffix }}
---
{{- end }}
{{- if $.Values.kargo.config.enabled }}
apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: {{ $name }}-config
  namespace: {{ $.Values.kargo.project.name }}
  annotations:
    kargo.akuity.io/color: {{ $stage.configColor | quote }}
spec:
  requestedFreight:
    - origin:
        kind: Warehouse
        name: {{ $.Values.kargo.project.name }}-config
      sources:
        {{- if eq $name "dev" }}
        direct: true
        {{- else }}
        stages:
          - dev-config
        {{- end }}
  promotionTemplate:
    spec:
      steps:
        - task:
            name: promote-config
          vars:
            - name: chart
              value: {{ $.Values.kargo.config.warehouse.chart.repoURL }}
            - name: chartValuesPath
              value: {{ $.Values.kargo.type }}/{{ $.Values.kargo.location }}/config{{ $stage.relPath }}
            - name: valuesPath
              value: {{ $.Values.kargo.type }}/{{ $.Values.kargo.location }}/config{{ $stage.relPath }}
            - name: argocdApp
              value: {{ $.Values.kargo.name }}-config{{ $stage.argoCDAppSuffix }}
---
{{ end -}}
{{- end }}
