{{- range $name, $stage := .Values.kargo.stages }}
{{ if $stage.enabled -}}
apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: {{ $name }}
  namespace: {{ $.Values.kargo.project.name }}
  annotations:
    kargo.akuity.io/color: {{ $stage.color }}
spec:
  requestedFreight:
    - origin:
        kind: Warehouse
        name: {{ $.Values.kargo.project.name }}
      sources:
        direct: true
  promotionTemplate:
    spec:
      steps:
        - task:
            name: promote
          vars:
            - name: chartValuesPath
              value: {{ $.Values.kargo.type }}/{{ $.Values.kargo.location }}{{ $stage.relPath }}
            - name: valuesPath
              value: {{ $.Values.kargo.type }}/{{ $.Values.kargo.location }}{{ $stage.relPath }}
            - name: argocdApp
              value: {{ $.Values.kargo.name }}{{ $stage.argoCDAppSuffix }}
---
{{ end -}}
{{- end }}
{{- if .Values.kargo.config.enabled }}
apiVersion: kargo.akuity.io/v1alpha1
kind: Stage
metadata:
  name: dev-config
  namespace: {{ .Values.kargo.project.name }}
  annotations:
    kargo.akuity.io/color: yellow
spec:
  requestedFreight:
    - origin:
        kind: Warehouse
        name: {{ .Values.kargo.project.name }}-config
      sources:
        direct: true
  promotionTemplate:
    spec:
      steps:
        - task:
            name: promote-config
          vars:
            - name: chart
              value: {{ .Values.kargo.config.warehouse.chart.repoURL }}
            - name: chartValuesPath
              value: {{ .Values.kargo.type }}/{{ .Values.kargo.location }}/config/development
            - name: valuesPath
              value: {{ .Values.kargo.type }}/{{ .Values.kargo.location }}/config/development
            - name: argocdApp
              value: {{ .Values.kargo.name }}-config-development
{{- end }}