apiVersion: kargo.akuity.io/v1alpha1
kind: Warehouse
metadata:
  name: {{ .Values.kargo.project.name }}
  namespace: {{ .Values.kargo.project.name }}
spec:
  subscriptions:
  {{- if .Values.kargo.warehouse.image.repoURL }}
  - image:
      repoURL: {{ .Values.kargo.warehouse.image.repoURL }}
      imageSelectionStrategy: SemVer
      strictSemvers: true
      discoveryLimit: {{ .Values.kargo.warehouse.image.discoveryLimit | default 3 }}
      semverConstraint: {{ .Values.kargo.warehouse.image.semverConstraint }}
      allowTags: {{ .Values.kargo.warehouse.image.allowTags }}
      ignoreTags:
        {{- toYaml .Values.kargo.warehouse.image.ignoreTags | nindent 8 }}
  {{- end }}
  - chart:
      repoURL: {{ .Values.kargo.warehouse.chart.repoURL }}
      name: {{ .Values.kargo.warehouse.chart.name }}
      discoveryLimit: {{ .Values.kargo.warehouse.chart.discoveryLimit | default 3 }}
      allowTags: {{ .Values.kargo.warehouse.chart.allowTags }}
      ignoreTags:
        {{- toYaml .Values.kargo.warehouse.chart.ignoreTags | nindent 8 }}
