{{- if .Values.kargo.warehouse.enabled }}
apiVersion: kargo.akuity.io/v1alpha1
kind: Warehouse
metadata:
  name: {{ .Values.kargo.project.name }}
  namespace: {{ .Values.kargo.project.name }}
spec:
  subscriptions:
  {{- if .Values.kargo.warehouse.image.repoURL }}
  - image:
      repoURL: {{ .Values.kargo.warehouse.image.repoURL }}
      imageSelectionStrategy: SemVer
      strictSemvers: true
      discoveryLimit: {{ .Values.kargo.warehouse.image.discoveryLimit | default 3 }}
      semverConstraint: {{ .Values.kargo.warehouse.image.semverConstraint }}
      allowTags: {{ .Values.kargo.warehouse.image.allowTags }}
      ignoreTags:
        {{- toYaml .Values.kargo.warehouse.image.ignoreTags | nindent 8 }}
  {{- end }}
  - chart:
      repoURL: {{ .Values.kargo.warehouse.chart.repoURL }}
      name: {{ .Values.kargo.warehouse.chart.name }}
      discoveryLimit: {{ .Values.kargo.warehouse.chart.discoveryLimit | default 3 }}
      semverConstraint: {{ .Values.kargo.warehouse.chart.semverConstraint }}
{{- end }}
{{- if .Values.kargo.config.enabled }}
---
apiVersion: kargo.akuity.io/v1alpha1
kind: Warehouse
metadata:
  name: {{ .Values.kargo.project.name }}-config
  namespace: {{ .Values.kargo.project.name }}
spec:
  subscriptions:
  - chart:
      repoURL: {{ .Values.kargo.config.warehouse.chart.repoURL }}
      name: {{ .Values.kargo.config.warehouse.chart.name }}
      discoveryLimit: {{ .Values.kargo.config.warehouse.chart.discoveryLimit | default 3 }}
      semverConstraint: {{ .Values.kargo.config.warehouse.chart.semverConstraint }}
  {{- range $name, $image := .Values.kargo.config.warehouse.images }}
  - image:
      repoURL: {{ $image.repoURL }}
        imageSelectionStrategy: SemVer
        strictSemvers: true
        discoveryLimit: {{ $image.discoveryLimit | default 3 }}
        semverConstraint: {{ $image.semverConstraint }}
        allowTags: {{ $image.allowTags }}
        ignoreTags:
              {{- toYaml $image.ignoreTags | nindent 8 }}
  {{- end }}
{{- end }}