apiVersion: apps/v1
kind: Deployment
metadata:
  name: paperless-ngx
  labels:
    app: paperless-ngx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: paperless-ngx
  template:
    metadata:
      labels:
        app: paperless-ngx
    spec:
      containers:
        - name: paperless-ngx
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          envFrom:
            - secretRef:
                name: paperless-db
            - secretRef:
                name: paperless-oidc
          env:
            - name: PAPERLESS_REDIS
              value: redis://paperless-redis:6379
            - name: PAPERLESS_DBHOST
              value: paperless-postgresql
            - name: PAPERLESS_DBNAME
              value: {{ .Values.postgresql.database }}
            {{- if .Values.deployment.oidc.enabled }}
            - name: PAPERLESS_ENABLE_ALLAUTH
              value: "true"
            - name: PAPERLESS_APPS
              value: "allauth.socialaccount.providers.openid_connect"
            - name: PAPERLESS_AUTO_LOGIN
              value: "true"
            - name: PAPERLESS_AUTO_CREATE
              value: "true"
            - name: PAPERLESS_LOGOUT_REDIRECT_URL
              value: {{ .Values.deployment.oidc.logoutRedirectUrl | quote }}
            {{- end }}
            {{- range $key, $value := .Values.deployment.additionalEnv }}
            - name: {{ $key }}
              value: "{{ $value }}"
            {{- end }}
          ports:
            - containerPort: 8000
          volumeMounts:
            - name: data
              mountPath: /usr/src/paperless/data
            - name: media
              mountPath: /usr/src/paperless/media
          resources:
            {{- toYaml .Values.deployment.resources | nindent 12 }}
      volumes:
        - name: data
          hostPath:
            path: {{ .Values.storagePath.data }}
            type: Directory
        - name: media
          hostPath:
            path: {{ .Values.storagePath.media }}
            type: Directory
