apiVersion: apps/v1
kind: Deployment
metadata:
  name: paperless-postgresql
spec:
  selector:
    matchLabels:
      app: paperless-postgresql
  template:
    metadata:
      labels:
        app: paperless-postgresql
    spec:
      containers:
        - name: postgres
          image: {{ .Values.postgresql.image }}
          ports:
            - containerPort: {{ .Values.postgresql.port }}
          env:
            - name: POSTGRES_DB
              value: {{ .Values.postgresql.database | quote }}
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: paperless-db
                  key: PAPERLESS_DBUSER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: paperless-db
                  key: PAPERLESS_DBPASS
          volumeMounts:
            - name: pgdata
              mountPath: /var/lib/postgresql/data
          {{- include "chart.resources" (dict "name" "postgresql" "Values" .Values) | nindent 10 }}
      volumes:
        - name: pgdata
          hostPath:
            path: {{ .Values.postgresql.storagePath }}
            type: Directory
---
apiVersion: v1
kind: Service
metadata:
  name: paperless-postgresql
spec:
  selector:
    app: paperless-postgresql
  ports:
    - protocol: TCP
      port: 5432
