applicationsets:
  {%- if cookiecutter.core_services.list is defined and cookiecutter.core_services.list %}
  core-services-setup:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    # See PR #10026 (ArgoCD v2.5 or later)
    # goTemplate: false
    generators:
      - matrix:
          generators:
            - list:
                elements:
                  {%- for service in cookiecutter.core_services.list %}
                  - name: '{{ service.name }}'
                  {%- endfor %}
            - git:
                repoURL: https://github.com/Squallium/kubernetes-at-home.git
                revision: main
                files:
                  - path: 'apps/{{'{{'}}name}}/config.yaml'
    # Ref https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Controlling-Resource-Modification/#allow-temporarily-toggling-auto-sync
    ignoreApplicationDifferences:
      - jsonPointers:
          - /spec/syncPolicy
    # Progressive Syncs is an experimental feature and it must be explicitly enabled
    # Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Progressive-Syncs/#enabling-progressive-syncs
    #      strategy:
    #        type: RollingSync
    #        rollingSync:
    #          steps:
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - guestbook
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - kustomize-foo
    #              - kustomize-bar
    template:
      metadata:
        name: '{{'{{'}}name}}'
        labels:
          type: 'service'
        annotations:
          kargo.akuity.io/authorized-stage: '{{'{{'}}name}}-core:core'
      spec:
        project: default
        sources:
          - repoURL: https://github.com/Squallium/kubernetes-at-home.git
            targetRevision: main
            ref: values
          - repoURL: '{{'{{'}}chart.repoUrl}}'
            chart: '{{'{{'}}chart.name}}'
            targetRevision: '{{'{{'}}chart.targetRevision}}'
            helm:
              valueFiles:
                - '$values/apps/{{'{{'}}name}}/values.yaml'
                - '$values/apps/{{'{{'}}name}}/values-ssl.yaml'
                - '$values/defaults/production/resources/values.yaml'
        destination:
          server: https://kubernetes.default.svc
          namespace: '{{'{{'}}name}}'
        syncPolicy:
          #            automated:
          #              prune: false
          #              selfHeal: false
          syncOptions:
            - CreateNamespace=true
            - ServerSideApply=true
        ignoreDifferences:
          - group: apps
            kind: Deployment
            jsonPointers:
              - /spec/replicas
        info:
          - name: url
            value: https://argoproj.github.io/
    syncPolicy:
      # Set Application finalizer
      preserveResourcesOnDeletion: true
    # Templating is only available on string type
    #      templatePatch: |
    #        spec:
    #          source:
    #            helm:
    #              valueFiles:
    #              {{'{{'}}- range $valueFile := .valueFiles }}
    #                - {{'{{'}} $valueFile }}
    #              {{'{{'}}- end }}
    #        {{'{{'}}- if .autoSync }}
    #          syncPolicy:
    #            automated:
    #              prune: {{'{{'}} .prune }}
    #        {{'{{'}}- end }}
  {%- endif %}
  {%- if cookiecutter.core_services_config.list is defined and cookiecutter.core_services_config.list %}
  core-services-configs:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    # See PR #10026 (ArgoCD v2.5 or later)
    # goTemplate: false
    generators:
      - matrix:
          generators:
            - list:
                elements:
                  {%- for service in cookiecutter.core_services_config.list %}
                  - name: '{{ service.name }}'
                  {%- endfor %}
            - git:
                repoURL: https://github.com/Squallium/kubernetes-at-home.git
                revision: main
                files:
                  - path: 'apps/{{'{{'}}name}}/config/values.yaml'
    # Ref https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Controlling-Resource-Modification/#allow-temporarily-toggling-auto-sync
    ignoreApplicationDifferences:
      - jsonPointers:
          - /spec/syncPolicy
    # Progressive Syncs is an experimental feature and it must be explicitly enabled
    # Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Progressive-Syncs/#enabling-progressive-syncs
    #      strategy:
    #        type: RollingSync
    #        rollingSync:
    #          steps:
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - guestbook
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - kustomize-foo
    #              - kustomize-bar
    template:
      metadata:
        name: '{{'{{'}}name}}-config'
        labels:
          type: 'service'
        annotations:
          kargo.akuity.io/authorized-stage: '{{'{{'}}name}}:core'
      spec:
        project: default
        sources:
          - repoURL: https://github.com/Squallium/kubernetes-at-home.git
            targetRevision: main
            ref: values
          - repoURL: https://squallium.github.io/kubernetes-at-home
            chart: '{{'{{'}}name}}-config'
            targetRevision: '{{'{{'}}chart.targetRevision}}'
            helm:
              valueFiles:
                - '$values/apps/{{'{{'}}name}}/config/values.yaml'
        destination:
          server: https://kubernetes.default.svc
          namespace: '{{'{{'}}name}}'
        syncPolicy:
          #            automated:
          #              prune: false
          #              selfHeal: false
          syncOptions:
            - CreateNamespace=true
            - ServerSideApply=true
        ignoreDifferences:
          - group: apps
            kind: Deployment
            jsonPointers:
              - /spec/replicas
        info:
          - name: url
            value: https://argoproj.github.io/
    syncPolicy:
      # Set Application finalizer
      preserveResourcesOnDeletion: true
    # Templating is only available on string type
    #      templatePatch: |
    #        spec:
    #          source:
    #            helm:
    #              valueFiles:
    #              {{'{{'}}- range $valueFile := .valueFiles }}
    #                - {{'{{'}} $valueFile }}
    #              {{'{{'}}- end }}
    #        {{'{{'}}- if .autoSync }}
    #          syncPolicy:
    #            automated:
    #              prune: {{'{{'}} .prune }}
    #        {{'{{'}}- end }}
  {% endif %}