argocd-apps:
  # -- Deploy Argo CD Applications within this helm release
  # @default -- `{}` (See [values.yaml])
  ## Ref: https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/
  applications:
    {%- for app_of_apps in cookiecutter.apps_of_apps.list %}
    {{ app_of_apps.name }}:
      namespace: argocd
      additionalLabels: {}
      additionalAnnotations: {}
      finalizers:
      - resources-finalizer.argocd.argoproj.io
      project: default
      sources:
      - repoURL: {{ cookiecutter.default_ref_values_repo_url }}
        targetRevision: main
        ref: values
      - repoURL: https://argoproj.github.io/argo-helm
        chart: argocd-apps
        targetRevision: {{ cookiecutter.argocd_apps_version }}
        helm:
          valueFiles:
            - $values/gitops/values-{{ app_of_apps.name }}.yaml
      destination:
        server: https://kubernetes.default.svc
        namespace: argocd
      syncPolicy:
  #      automated:
  #        prune: false
  #        selfHeal: false
        syncOptions:
        - CreateNamespace=true
      revisionHistoryLimit: null
      ignoreDifferences:
      - group: apps
        kind: Deployment
        jsonPointers:
        - /spec/replicas
      info:
      - name: url
        value: https://argoproj.github.io/
    {%- endfor %}

  # -- Deploy Argo CD Projects within this helm release
  # @default -- `{}` (See [values.yaml])
  ## Ref: https://github.com/argoproj/argo-cd/blob/master/docs/operator-manual/
  projects:
  {%- for project in cookiecutter.projects.list %}
    {{ project.name }}:
      namespace: argocd
      additionalLabels: {}
      additionalAnnotations: {}
      permitOnlyProjectScopedClusters: false
      finalizers:
      - resources-finalizer.argocd.argoproj.io
      description: {{ project.description | default("Project for " + project.name) }}
      sourceRepos:
      - '*'
      destinations:
      - namespace: guestbook
        server: https://kubernetes.default.svc
      clusterResourceWhitelist: []
      clusterResourceBlacklist: []
      namespaceResourceBlacklist: {}
#      - group: ''
#        kind: ResourceQuota
#      - group: ''
#        kind: LimitRange
#      - group: ''
#        kind: NetworkPolicy
#        orphanedResources: {}
#        roles: []
      namespaceResourceWhitelist: {}
#      - group: 'apps'
#        kind: Deployment
#      - group: 'apps'
#        kind: StatefulSet
      orphanedResources: {}
      roles: []
      syncWindows: {}
#      - kind: allow
#        schedule: '10 1 * * *'
#        duration: 1h
#        applications:
#        - '*-prod'
#        manualSync: true
      signatureKeys:
      - keyID: ABCDEF1234567890
      sourceNamespaces:
      - argocd
  {%- endfor %}

  # -- Deploy Argo CD ApplicationSets within this helm release
  # @default -- `{}` (See [values.yaml])
  ## Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/
  applicationsets: {}

  # --  Deploy Argo CD Applications/ApplicationSets/Projects within this helm release
  # @default -- `[]` (See [values.yaml])
  ## Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/
  itemTemplates: []
  # - items:
  #     - name: my-appset
  #       generators: &generators
  #         - list:
  #             elements:
  #               - cluster: engineering-dev
  #                 url: https://1.2.3.4
  #               - cluster: engineering-prod
  #                 url: https://2.4.6.8
  #               - cluster: finance-preprod
  #                 url: https://9.8.7.6
  #   template:
  #     apiVersion: argoproj.io/v1alpha1
  #     kind: ApplicationSet
  #     metadata:
  #       name: "{{'{{'}} .name }}"
  #     spec:
  #       generators: *generators
  #       template:
  #         metadata:
  #           name: "{{'{{'}}`{{'{{'}}cluster}}`}}-guestbook"
  #         spec:
  #           project: my-project
  #           source:
  #             repoURL: https://github.com/infra-team/cluster-deployments.git
  #             targetRevision: HEAD
  #             path: guestbook/{{'{{'}}`{{'{{'}}cluster}}`}}
  #           destination:
  #             server: "{{'{{'}}`{{'{{'}}cluster}}`}}"
  #             namespace: guestbook
  # - items:
  #     - name: my-appset
  #       generators:
  #         - list:
  #             elements:
  #               - cluster: engineering-dev
  #                 url: https://1.2.3.4
  #               - cluster: engineering-prod
  #                 url: https://2.4.6.8
  #               - cluster: finance-preprod
  #                 url: https://9.8.7.6
  #   template: |-
  #     apiVersion: argoproj.io/v1alpha1
  #     kind: ApplicationSet
  #     metadata:
  #       name: {{'{{'}} .name }}
  #     spec:
  #       generators: {{'{{'}} toYaml .generators | nindent 4 }}
  #       template:
  #         metadata:
  #           name: '{{'{{'}}`{{'{{'}}cluster}}`}}-guestbook'
  #         spec:
  #           project: my-project
  #           source:
  #             repoURL: https://github.com/infra-team/cluster-deployments.git
  #             targetRevision: HEAD
  #             path: guestbook/{{'{{'}}`{{'{{'}}cluster}}`}}
  #           destination:
  #             server: '{{'{{'}}`{{'{{'}}cluster}}`}}'
  #             namespace: guestbook

  # -- DEPRECATED - Please refer [Deprecation Notice](https://github.com/argoproj-labs/argocd-extensions?tab=readme-ov-file#deprecation-notice) for more info.
  # @default -- `{}` (See [values.yaml])
  ## This function in tech preview stage, do expect unstability or breaking changes in newer versions. Bump image.tag if necessary.
  ## Ref: https://github.com/argoproj-labs/argocd-extensions
  extensions: {}
  #  example:
  #    namespace: argocd
  #    additionalLabels: {}
  #    additionalAnnotations: {}
  #    sources:
  #      - git:
  #          url: https://github.com/argoproj-labs/argocd-example-extension.git
  #      - web:
  #          url: https://github.com/argoproj-labs/argocd-example-extension/releases/download/v0.1.0/extension.tar
