applicationsets:
  {%- for service in cookiecutter.services.list %}
  {{ service.name }}:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    # See PR #10026 (ArgoCD v2.5 or later)
    # goTemplate: false
    generators:
      - matrix:
          generators:
            - clusters: {}
            - git:
                repoURL: https://github.com/Squallium/kubernetes-at-home.git
                revision: main
                files:
                  - path: 'apps/{{ service.name }}/{{'{{'}}metadata.labels.environment}}/config.yaml'
    # Ref https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Controlling-Resource-Modification/#allow-temporarily-toggling-auto-sync
    ignoreApplicationDifferences:
      - jsonPointers:
          - /spec/syncPolicy
    # Progressive Syncs is an experimental feature and it must be explicitly enabled
    # Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Progressive-Syncs/#enabling-progressive-syncs
    #      strategy:
    #        type: RollingSync
    #        rollingSync:
    #          steps:
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - guestbook
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - kustomize-foo
    #              - kustomize-bar
    template:
      metadata:
        name: '{{ service.name }}-{{'{{'}}metadata.labels.environment}}'
        labels:
          type: 'service'
        {%- if service.get("enable_kargo", False) %}
        annotations:
          kargo.akuity.io/authorized-stage: '{{ service.name }}:{{'{{'}}metadata.labels.kargo-stage}}'
        {%- else %}
        annotations: {}
        {%- endif %}
      spec:
        project: default
        sources:
          - repoURL: https://github.com/Squallium/kubernetes-at-home.git
            targetRevision: main
            ref: values
          {%- set chart_name = service.chart_name | default(cookiecutter.default_chart_name, true) | trim %}
          {%- if chart_name != "" %}
          - repoURL: {{ service.chart_repo | default(cookiecutter.default_chart_repo) }}
            chart: {{ chart_name  }}
          {%- else %}
          - repoURL: {{ service.chart_repo_url | default(cookiecutter.default_chart_repo_url) }}
            path: {{ service.chart_path | default("charts/" ~ service.name) }}
          {%- endif %}
            targetRevision: '{{'{{'}}chart.targetRevision}}'
            helm:
              valueFiles:
                - $values/apps/{{ service.name }}/values.yaml
                - $values/apps/{{ service.name }}/{{'{{'}}metadata.labels.environment}}/values.yaml
                {%- if service.get("enable_ssl", False) %}
                - $values/apps/{{ service.name }}/{{'{{'}}metadata.labels.environment}}/values-ssl.yaml
                {%- endif %}
                - $values/defaults/{{'{{'}}metadata.labels.environment}}/resources/values.yaml
              {%- if service.get("enable_secrets", False) %}
              fileParameters:
                - name: auth.openid.client_id
                  path: secrets+literal://vals!ref+vault://secret/{{ service.name }}/{{'{{'}}metadata.labels.environment}}/authentik#/client_id
                - name: auth.openid.client_secret
                  path: secrets+literal://vals!ref+vault://secret/{{ service.name }}/{{'{{'}}metadata.labels.environment}}/authentik#/client_secret
              {%- endif %}
              {%- if service.get("helm_secrets", False) %}
              fileParameters:
                {%- for helm_secret in service.helm_secrets.list %}
                - name: {{ helm_secret.name }}
                  path: secrets+literal://vals!ref+vault://secret/{{ service.name }}/{{'{{'}}metadata.labels.environment}}/{{ helm_secret.key }}
                {%- endfor %}
              {%- endif %}
        destination:
          server: '{{'{{'}}server}}'
          namespace: {{ service.name }}
        syncPolicy:
#            automated:
#              prune: false
#              selfHeal: false
          syncOptions:
            - CreateNamespace=true
            {%- if service.get("server_side_apply", False) %}
            - ServerSideApply=true
            {%- endif %}
        ignoreDifferences:
          - group: apps
            kind: Deployment
            jsonPointers:
              - /spec/replicas
          {%- for ignore in service.ignore_differences | default([]) %}
          - group: {{ ignore.group }}
            kind: {{ ignore.kind }}
            {%- if ignore.name %}
            name: {{ ignore.name }}
            {%- endif %}
            jsonPointers:
            {%- for pointer in ignore.jsonPointers %}
              - {{ pointer }}
            {%- endfor %}
          {%- endfor %}
        info:
          - name: url
            value: https://argoproj.github.io/
    syncPolicy:
      # Set Application finalizer
      preserveResourcesOnDeletion: true
    # Templating is only available on string type
  #      templatePatch: |
  #        spec:
  #          source:
  #            helm:
  #              valueFiles:
  #              {{'{{'}}- range $valueFile := .valueFiles }}
  #                - {{'{{'}} $valueFile }}
  #              {{'{{'}}- end }}
  #        {{'{{'}}- if .autoSync }}
  #          syncPolicy:
  #            automated:
  #              prune: {{'{{'}} .prune }}
  #        {{'{{'}}- end }}
  {%- endfor %}
  {%- for service_config in cookiecutter.services_config.list %}
  {{ service_config.name }}-config:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    # See PR #10026 (ArgoCD v2.5 or later)
    # goTemplate: false
    generators:
      - matrix:
          generators:
            - clusters: {}
            - git:
                repoURL: https://github.com/Squallium/kubernetes-at-home.git
                revision: main
                files:
                  - path: 'apps/{{ service_config.name }}/config/{{'{{'}}metadata.labels.environment}}/values.yaml'
    # Ref https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Controlling-Resource-Modification/#allow-temporarily-toggling-auto-sync
    ignoreApplicationDifferences:
      - jsonPointers:
          - /spec/syncPolicy
    # Progressive Syncs is an experimental feature and it must be explicitly enabled
    # Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Progressive-Syncs/#enabling-progressive-syncs
    #      strategy:
    #        type: RollingSync
    #        rollingSync:
    #          steps:
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - guestbook
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - kustomize-foo
    #              - kustomize-bar
    template:
      metadata:
        name: '{{ service_config.name }}-config-{{'{{'}}metadata.labels.environment}}'
        labels:
          type: 'service-config'
        annotations: {}
      spec:
        project: default
        sources:
          - repoURL: https://github.com/Squallium/kubernetes-at-home.git
            targetRevision: main
            ref: values
          {%- if service_config.chart_name | default(cookiecutter.default_chart_name) %}
          - repoURL: {{ service_config.chart_repo | default(cookiecutter.default_chart_repo) }}
            chart: {{ service_config.chart_name  }}
          {%- else %}
          - repoURL: {{ service_config.chart_repo_url | default(cookiecutter.default_chart_repo_url) }}
            path: charts/{{ service_config.name }}
          {%- endif %}
            targetRevision: {{ service_config.chart_target_revision | default(cookiecutter.default_chart_target_revision) }}
            helm:
              valueFiles:
                - $values/apps/{{ service_config.name }}/config/values.yaml
                - $values/apps/{{ service_config.name }}/config/{{'{{'}}metadata.labels.environment}}/values.yaml
                - $values/defaults/{{'{{'}}metadata.labels.environment}}/resources/values.yaml
        destination:
          server: '{{'{{'}}server}}'
          namespace: {{ service_config.name }}
        syncPolicy:
#            automated:
#              prune: false
#              selfHeal: false
          syncOptions:
            - CreateNamespace=true
        ignoreDifferences:
          - group: apps
            kind: Deployment
            jsonPointers:
              - /spec/replicas
        info:
          - name: url
            value: https://argoproj.github.io/
    syncPolicy:
      # Set Application finalizer
      preserveResourcesOnDeletion: true
    # Templating is only available on string type
  #      templatePatch: |
  #        spec:
  #          source:
  #            helm:
  #              valueFiles:
  #              {{'{{'}}- range $valueFile := .valueFiles }}
  #                - {{'{{'}} $valueFile }}
  #              {{'{{'}}- end }}
  #        {{'{{'}}- if .autoSync }}
  #          syncPolicy:
  #            automated:
  #              prune: {{'{{'}} .prune }}
  #        {{'{{'}}- end }}
  {%- endfor %}

applications:
  {%- for service_addons in cookiecutter.services_addons.list %}
  {{ service_addons.name }}:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
    - resources-finalizer.argocd.argoproj.io
    project: default
    sources:
    - repoURL: https://github.com/Squallium/kubernetes-at-home.git
      targetRevision: main
      ref: values
    - repoURL: https://squallium.github.io/kubernetes-at-home
      chart: {{ service_addons.chart_name }}
      targetRevision: {{ service_addons.chart_target_revision }}
      helm:
        valueFiles:
          - $values/apps/{{ service_addons.name }}/values.yaml
        values: |
          enable_kargo: {{ service_addons.get("enable_kargo", False) | lower }}
    destination:
      server: https://kubernetes.default.svc
      namespace: argocd
    syncPolicy:
#      automated:
#        prune: false
#        selfHeal: false
      syncOptions:
      - CreateNamespace=true
    revisionHistoryLimit: null
    ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
      - /spec/replicas
    info:
    - name: url
      value: https://argoproj.github.io/
  {%- endfor %}