applicationsets:
  new-idea:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    # See PR #10026 (ArgoCD v2.5 or later)
    # goTemplate: false
    generators:
      - matrix:
          generators:
            - list:
                elements:
                  - name: 'kube-prometheus-stack'
                  - name: 'loki'
            - git:
                repoURL: https://github.com/Squallium/kubernetes-at-home.git
                revision: main
                files:
                  - path: 'apps/{{'{{'}}name}}/config.yaml'
    # Ref https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Controlling-Resource-Modification/#allow-temporarily-toggling-auto-sync
    ignoreApplicationDifferences:
      - jsonPointers:
          - /spec/syncPolicy
    # Progressive Syncs is an experimental feature and it must be explicitly enabled
    # Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Progressive-Syncs/#enabling-progressive-syncs
    #      strategy:
    #        type: RollingSync
    #        rollingSync:
    #          steps:
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - guestbook
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - kustomize-foo
    #              - kustomize-bar
    template:
      metadata:
        name: '{{'{{'}}name}}'
        labels:
          type: 'service'
        annotations:
          kargo.akuity.io/authorized-stage: '{{'{{'}}name}}:core'
      spec:
        project: default
        sources:
          - repoURL: https://github.com/Squallium/kubernetes-at-home.git
            targetRevision: main
            ref: values
          - repoURL: '{{'{{'}}chart.repoUrl}}'
            chart: '{{'{{'}}chart.name}}'
            targetRevision: '{{'{{'}}chart.targetRevision}}'
            helm:
              valueFiles:
                - '$values/apps/{{'{{'}}name}}/values.yaml'
                - '$values/apps/{{'{{'}}name}}/values.yaml'
                - '$values/defaults/production/resources/values.yaml'
        destination:
          server: https://kubernetes.default.svc
          namespace: '{{'{{'}}name}}'
        syncPolicy:
          #            automated:
          #              prune: false
          #              selfHeal: false
          syncOptions:
            - CreateNamespace=true
            - ServerSideApply=true
        ignoreDifferences:
          - group: apps
            kind: Deployment
            jsonPointers:
              - /spec/replicas
        info:
          - name: url
            value: https://argoproj.github.io/
    syncPolicy:
      # Set Application finalizer
      preserveResourcesOnDeletion: true
    # Templating is only available on string type
    #      templatePatch: |
    #        spec:
    #          source:
    #            helm:
    #              valueFiles:
    #              {{'{{'}}- range $valueFile := .valueFiles }}
    #                - {{'{{'}} $valueFile }}
    #              {{'{{'}}- end }}
    #        {{'{{'}}- if .autoSync }}
    #          syncPolicy:
    #            automated:
    #              prune: {{'{{'}} .prune }}
    #        {{'{{'}}- end }}

applications:
  {%- for core_service in cookiecutter.core_services.list %}
  {{ core_service.name }}:
    namespace: argocd
    additionalLabels: {}
    {%- if core_service.get("enable_kargo", False) %}
    additionalAnnotations:
      kargo.akuity.io/authorized-stage: '{{ core_service.name }}:core'
    {%- else %}
    additionalAnnotations: {}
    {%- endif %}
    finalizers:
    - resources-finalizer.argocd.argoproj.io
    project: default
    sources:
    - repoURL: https://github.com/Squallium/kubernetes-at-home.git
      targetRevision: main
      ref: values
    {%- set chart_name = core_service.chart_name | default(cookiecutter.default_chart_name, true) | trim %}
    {%- if chart_name != "" %}
    - repoURL: {{ core_service.chart_repo | default(cookiecutter.default_chart_repo) }}
      chart: {{ chart_name  }}
    {%- else %}
    - repoURL: {{ core_service.chart_repo_url | default(cookiecutter.default_chart_repo_url) }}
      path: {{ core_service.chart_path | default("charts/" ~ core_service.name) }}
    {%- endif %}
      targetRevision: {{ core_service.chart_target_revision }}
      helm:
        valueFiles:
          - $values/apps/{{ core_service.name }}/values.yaml
          {%- if core_service.get("enable_ssl", False) %}
          - $values/apps/{{ core_service.name }}/values-ssl.yaml
          {%- endif %}
    destination:
      server: https://kubernetes.default.svc
      namespace: {{ core_service.namespace | default(core_service.name) }}
    syncPolicy:
#      automated:
#        prune: false
#        selfHeal: false
      syncOptions:
      - CreateNamespace=true
      {%- if core_service.get("server_side_apply", False) %}
      - ServerSideApply=true
      {%- endif %}
    revisionHistoryLimit: null
    ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
      - /spec/replicas
    info:
    - name: url
      value: https://argoproj.github.io/
  {%- endfor %}
  {%- for core_service_config in cookiecutter.core_services_config.list %}
  {{ core_service_config.name }}-config:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
    - resources-finalizer.argocd.argoproj.io
    project: default
    sources:
    - repoURL: https://github.com/Squallium/kubernetes-at-home.git
      targetRevision: main
      ref: values
    {%- if core_service_config.chart_name | default(cookiecutter.default_chart_name) %}
    - repoURL: {{ core_service_config.chart_repo | default(cookiecutter.default_chart_repo) }}
      chart: {{ core_service_config.chart_name  }}
    {%- else %}
    - repoURL: {{ core_service_config.chart_repo_url | default(cookiecutter.default_chart_repo_url) }}
      path: charts/{{ core_service_config.name }}
    {%- endif %}
      targetRevision: {{ core_service_config.chart_target_revision }}
      helm:
        valueFiles:
          - $values/apps/{{ core_service_config.name }}/config/values.yaml
    destination:
      server: https://kubernetes.default.svc
      namespace: {{ core_service_config.namespace | default(core_service_config.name) }}
    syncPolicy:
#      automated:
#        prune: false
#        selfHeal: false
      syncOptions:
      - CreateNamespace=true
    revisionHistoryLimit: null
    ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
      - /spec/replicas
    info:
    - name: url
      value: https://argoproj.github.io/
  {%- endfor %}