global:
  image:
    tag: 2025.12.2

server:
  ingress:
    hosts:
      - auth.internal.org

  envFrom:
    - secretRef:
        name: authentik-env

  resources:
    requests:
      cpu: 400m
      memory: 512Mi
    limits:
      cpu: 800m
      memory: 1Gi

worker:
  envFrom:
    - secretRef:
        name: authentik-env

  resources:
    requests:
      cpu: 400m
      memory: 512Mi
    limits:
      cpu: 800m
      memory: 1Gi
