default_context:
  projects:
    list:
      - name: "core"
        description: "Core cluster addons and services"
      - name: "addons"
        description: "Kubernetes addons and their configurations"
      - name: "services"
        description: "Kubernetes services and their configurations"
  apps_of_apps:
    list:
      - name: "core-addons"
      - name: "core-services"
      - name: "core-services-addons"
      - name: "addons"
      - name: "services"
  core_addons:
    list:
      - name: "cert-manager"
        chart_repo: "https://charts.jetstack.io"
        chart_name: "cert-manager"
        chart_target_revision: "1.18.2"
        enable_kargo: true
  core_addons_config:
    list:
      - name: "cert-manager"
        chart_name: "cert-manager-config"
        chart_target_revision: "0.0.5"
        enable_kargo: true
      - name: "coredns"
        chart_name: "coredns-config"
        chart_target_revision: "0.0.1"
  core_services:
    list:
      - name: "kube-prometheus-stack"
        chart_repo: "https://prometheus-community.github.io/helm-charts"
        chart_name: "kube-prometheus-stack"
        chart_target_revision: "75.4.0"
        server_side_apply: true
        enable_ssl: true
      - name: "loki"
        chart_repo: "https://grafana.github.io/helm-charts"
        chart_name: "loki"
        chart_target_revision: "6.30.1"
      - name: "promtail"
        chart_repo: "https://grafana.github.io/helm-charts"
        chart_name: "promtail"
        chart_target_revision: "6.17.0"
      - name: "kargo"
        chart_repo: "ghcr.io/akuity/kargo-charts"
        chart_name: "kargo"
        chart_target_revision: "1.7.5"
      - name: "argo-rollouts"
        chart_repo: "https://argoproj.github.io/argo-helm"
        chart_name: "argo-rollouts"
        chart_target_revision: "2.40.2"
  core_services_config:
    list:
      - name: "loki"
        chart_name: "loki-config"
        chart_target_revision: "0.0.1"
      - name: "kargo"
        chart_name: "kargo-config"
        chart_target_revision: "0.0.5"
  addons:
    list:
      - name: "external-secrets"
        chart_repo: "https://charts.external-secrets.io"
        chart_name: "external-secrets"
        chart_target_revision: "0.17.0"
      - name: "cert-manager"
        chart_repo: "https://charts.jetstack.io"
        chart_name: "cert-manager"
        chart_target_revision: "1.18.2"
      - name: "cloudflared"
        chart_repo: "https://squallium.github.io/kubernetes-at-home"
        chart_name: "cloudflared"
        chart_target_revision: "0.0.4"
  addons_config:
    list:
      - name: "external-secrets"
        chart_name: "external-secrets-config"
        chart_target_revision: "0.0.3"
      - name: "cert-manager"
        chart_name: "cert-manager-config"
        chart_target_revision: "0.0.5"
      - name: "coredns"
        chart_name: "coredns-config"
        chart_target_revision: "0.0.3"
        namespace: "kube-system"
  services:
    list:
#      - name: "homebox"
#        chart_name: "homebox"
#        chart_target_revision: "0.0.4"
#        enable_ssl: true
      - name: "paperless-ngx"
        chart_name: "paperless-ngx"
        chart_target_revision: "0.0.8"
        enable_ssl: true
      - name: "home-assistant"
        chart_repo: "https://pajikos.github.io/home-assistant-helm-chart"
        chart_name: "home-assistant"
        chart_target_revision: "0.3.11"
        enable_ssl: true
        enable_kargo: true
        ignore_differences:
          - group: apps
            kind: StatefulSet
            name: home-assistant-{{'{{'}}metadata.labels.environment}}
            jsonPointers:
              - /spec/template/metadata/annotations/checksum~1hass-configuration
      - name: "calibre-web"
        chart_name: "calibre-web"
        chart_target_revision: "0.0.4"
        enable_ssl: true
        enable_kargo: true
      - name: "authentik"
        chart_repo: "https://charts.goauthentik.io"
        chart_name: "authentik"
        enable_ssl: true
        enable_kargo: true
        helm_secrets:
          list:
            - name: authentik.postgresql.user
              key: postgres#/username
            - name: authentik.postgresql.password
              key: postgres#/password
            - name: authentik.redis.password
              key: redis#/password
      - name: "argo-rollouts"
        chart_repo: "https://argoproj.github.io/argo-helm"
        chart_name: "argo-rollouts"
        chart_target_revision: "2.40.2"
      - name: "prowlarr"
        chart_name: "prowlarr"
        enable_ssl: true
      - name: "vikunja"
        chart_name: "vikunja"
        enable_ssl: true
        helm_secrets:
          list:
            - name: auth.openid.client_id
              key: authentik#/client_id
            - name: auth.openid.client_secret
              key: authentik#/client_secret
      - name: "warracker"
        chart_name: "warracker"
        enable_ssl: true
  services_config:
    list:
      - name: "home-assistant"
        chart_name: "home-assistant-config"
        chart_target_revision: "0.0.12"
      - name: "authentik"
        chart_name: "authentik-config"
        chart_target_revision: "0.0.8"
  services_addons:
    list:
      - name: "home-assistant-addons"
        chart_name: "home-assistant-addons"
        chart_target_revision: "0.0.16"
        enable_kargo: true
