applicationsets:
  external-secrets:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    # See PR #10026 (ArgoCD v2.5 or later)
    # goTemplate: false
    generators:
      - matrix:
          generators:
            - clusters: {}
            - git:
                repoURL: https://github.com/Squallium/kubernetes-at-home.git
                revision: main
                files:
                  - path: 'addons/external-secrets/{{metadata.labels.environment}}/config.yaml'
    # Ref https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Controlling-Resource-Modification/#allow-temporarily-toggling-auto-sync
    ignoreApplicationDifferences:
      - jsonPointers:
          - /spec/syncPolicy
    # Progressive Syncs is an experimental feature and it must be explicitly enabled
    # Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Progressive-Syncs/#enabling-progressive-syncs
    #      strategy:
    #        type: RollingSync
    #        rollingSync:
    #          steps:
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - guestbook
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - kustomize-foo
    #              - kustomize-bar
    template:
      metadata:
        name: 'external-secrets-{{metadata.labels.environment}}'
        labels:
          type: 'addon'
        annotations:
          kargo.akuity.io/authorized-stage: 'addon-external-secrets:{{metadata.labels.kargo-stage}}'
      spec:
        project: default
        sources:
          - repoURL: https://github.com/Squallium/kubernetes-at-home.git
            targetRevision: main
            ref: values
          - repoURL: https://charts.external-secrets.io
            chart: external-secrets
            targetRevision: '{{chart.targetRevision}}'
            helm:
              valueFiles:
                - $values/addons/external-secrets/values.yaml
                - $values/addons/external-secrets/{{metadata.labels.environment}}/values.yaml
        destination:
          server: '{{server}}'
          namespace: external-secrets
        syncPolicy:
#            automated:
#              prune: false
#              selfHeal: false
          syncOptions:
            - CreateNamespace=true
        ignoreDifferences:
          - group: apps
            kind: Deployment
            jsonPointers:
              - /spec/replicas
        info:
          - name: url
            value: https://argoproj.github.io/
    syncPolicy:
      # Set Application finalizer
      preserveResourcesOnDeletion: true
    # Templating is only available on string type
  #      templatePatch: |
  #        spec:
  #          source:
  #            helm:
  #              valueFiles:
  #              {{- range $valueFile := .valueFiles }}
  #                - {{ $valueFile }}
  #              {{- end }}
  #        {{- if .autoSync }}
  #          syncPolicy:
  #            automated:
  #              prune: {{ .prune }}
  #        {{- end }}
  cert-manager:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    # See PR #10026 (ArgoCD v2.5 or later)
    # goTemplate: false
    generators:
      - matrix:
          generators:
            - clusters: {}
            - git:
                repoURL: https://github.com/Squallium/kubernetes-at-home.git
                revision: main
                files:
                  - path: 'addons/cert-manager/{{metadata.labels.environment}}/config.yaml'
    # Ref https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Controlling-Resource-Modification/#allow-temporarily-toggling-auto-sync
    ignoreApplicationDifferences:
      - jsonPointers:
          - /spec/syncPolicy
    # Progressive Syncs is an experimental feature and it must be explicitly enabled
    # Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Progressive-Syncs/#enabling-progressive-syncs
    #      strategy:
    #        type: RollingSync
    #        rollingSync:
    #          steps:
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - guestbook
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - kustomize-foo
    #              - kustomize-bar
    template:
      metadata:
        name: 'cert-manager-{{metadata.labels.environment}}'
        labels:
          type: 'addon'
        annotations:
          kargo.akuity.io/authorized-stage: 'addon-cert-manager:{{metadata.labels.kargo-stage}}'
      spec:
        project: default
        sources:
          - repoURL: https://github.com/Squallium/kubernetes-at-home.git
            targetRevision: main
            ref: values
          - repoURL: https://charts.jetstack.io
            chart: cert-manager
            targetRevision: '{{chart.targetRevision}}'
            helm:
              valueFiles:
                - $values/addons/cert-manager/values.yaml
                - $values/addons/cert-manager/{{metadata.labels.environment}}/values.yaml
        destination:
          server: '{{server}}'
          namespace: cert-manager
        syncPolicy:
#            automated:
#              prune: false
#              selfHeal: false
          syncOptions:
            - CreateNamespace=true
        ignoreDifferences:
          - group: apps
            kind: Deployment
            jsonPointers:
              - /spec/replicas
        info:
          - name: url
            value: https://argoproj.github.io/
    syncPolicy:
      # Set Application finalizer
      preserveResourcesOnDeletion: true
    # Templating is only available on string type
  #      templatePatch: |
  #        spec:
  #          source:
  #            helm:
  #              valueFiles:
  #              {{- range $valueFile := .valueFiles }}
  #                - {{ $valueFile }}
  #              {{- end }}
  #        {{- if .autoSync }}
  #          syncPolicy:
  #            automated:
  #              prune: {{ .prune }}
  #        {{- end }}
  cloudflared:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    # See PR #10026 (ArgoCD v2.5 or later)
    # goTemplate: false
    generators:
      - matrix:
          generators:
            - clusters: {}
            - git:
                repoURL: https://github.com/Squallium/kubernetes-at-home.git
                revision: main
                files:
                  - path: 'addons/cloudflared/{{metadata.labels.environment}}/config.yaml'
    # Ref https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Controlling-Resource-Modification/#allow-temporarily-toggling-auto-sync
    ignoreApplicationDifferences:
      - jsonPointers:
          - /spec/syncPolicy
    # Progressive Syncs is an experimental feature and it must be explicitly enabled
    # Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Progressive-Syncs/#enabling-progressive-syncs
    #      strategy:
    #        type: RollingSync
    #        rollingSync:
    #          steps:
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - guestbook
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - kustomize-foo
    #              - kustomize-bar
    template:
      metadata:
        name: 'cloudflared-{{metadata.labels.environment}}'
        labels:
          type: 'addon'
        annotations:
          kargo.akuity.io/authorized-stage: 'addon-cloudflared:{{metadata.labels.kargo-stage}}'
      spec:
        project: default
        sources:
          - repoURL: https://github.com/Squallium/kubernetes-at-home.git
            targetRevision: main
            ref: values
          - repoURL: https://squallium.github.io/kubernetes-at-home
            chart: cloudflared
            targetRevision: '{{chart.targetRevision}}'
            helm:
              valueFiles:
                - $values/addons/cloudflared/values.yaml
                - $values/addons/cloudflared/{{metadata.labels.environment}}/values.yaml
        destination:
          server: '{{server}}'
          namespace: cloudflared
        syncPolicy:
#            automated:
#              prune: false
#              selfHeal: false
          syncOptions:
            - CreateNamespace=true
        ignoreDifferences:
          - group: apps
            kind: Deployment
            jsonPointers:
              - /spec/replicas
        info:
          - name: url
            value: https://argoproj.github.io/
    syncPolicy:
      # Set Application finalizer
      preserveResourcesOnDeletion: true
    # Templating is only available on string type
  #      templatePatch: |
  #        spec:
  #          source:
  #            helm:
  #              valueFiles:
  #              {{- range $valueFile := .valueFiles }}
  #                - {{ $valueFile }}
  #              {{- end }}
  #        {{- if .autoSync }}
  #          syncPolicy:
  #            automated:
  #              prune: {{ .prune }}
  #        {{- end }}
  external-secrets-config:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    # See PR #10026 (ArgoCD v2.5 or later)
    # goTemplate: false
    generators:
      - matrix:
          generators:
            - clusters: {}
            - git:
                repoURL: https://github.com/Squallium/kubernetes-at-home.git
                revision: main
                files:
                  - path: 'addons/external-secrets/config/{{metadata.labels.environment}}/config.yaml'
    # Ref https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Controlling-Resource-Modification/#allow-temporarily-toggling-auto-sync
    ignoreApplicationDifferences:
      - jsonPointers:
          - /spec/syncPolicy
    # Progressive Syncs is an experimental feature and it must be explicitly enabled
    # Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Progressive-Syncs/#enabling-progressive-syncs
    #      strategy:
    #        type: RollingSync
    #        rollingSync:
    #          steps:
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - guestbook
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - kustomize-foo
    #              - kustomize-bar
    template:
      metadata:
        name: 'external-secrets-config-{{metadata.labels.environment}}'
        labels:
          type: 'addon-config'
        annotations:
          kargo.akuity.io/authorized-stage: 'addon-external-secrets:{{metadata.labels.kargo-stage}}-config'
      spec:
        project: default
        sources:
          - repoURL: https://github.com/Squallium/kubernetes-at-home.git
            targetRevision: main
            ref: values
          - repoURL: https://squallium.github.io/kubernetes-at-home
            chart: external-secrets-config
            targetRevision: '{{chart.targetRevision}}'
            helm:
              valueFiles:
                - $values/addons/external-secrets/config/values.yaml
                - $values/addons/external-secrets/config/{{metadata.labels.environment}}/values.yaml
        destination:
          server: '{{server}}'
          namespace: external-secrets
        syncPolicy:
#            automated:
#              prune: false
#              selfHeal: false
          syncOptions:
            - CreateNamespace=true
        ignoreDifferences:
          - group: apps
            kind: Deployment
            jsonPointers:
              - /spec/replicas
        info:
          - name: url
            value: https://argoproj.github.io/
    syncPolicy:
      # Set Application finalizer
      preserveResourcesOnDeletion: true
    # Templating is only available on string type
  #      templatePatch: |
  #        spec:
  #          source:
  #            helm:
  #              valueFiles:
  #              {{- range $valueFile := .valueFiles }}
  #                - {{ $valueFile }}
  #              {{- end }}
  #        {{- if .autoSync }}
  #          syncPolicy:
  #            automated:
  #              prune: {{ .prune }}
  #        {{- end }}
  cert-manager-config:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    # See PR #10026 (ArgoCD v2.5 or later)
    # goTemplate: false
    generators:
      - matrix:
          generators:
            - clusters: {}
            - git:
                repoURL: https://github.com/Squallium/kubernetes-at-home.git
                revision: main
                files:
                  - path: 'addons/cert-manager/config/{{metadata.labels.environment}}/config.yaml'
    # Ref https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Controlling-Resource-Modification/#allow-temporarily-toggling-auto-sync
    ignoreApplicationDifferences:
      - jsonPointers:
          - /spec/syncPolicy
    # Progressive Syncs is an experimental feature and it must be explicitly enabled
    # Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Progressive-Syncs/#enabling-progressive-syncs
    #      strategy:
    #        type: RollingSync
    #        rollingSync:
    #          steps:
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - guestbook
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - kustomize-foo
    #              - kustomize-bar
    template:
      metadata:
        name: 'cert-manager-config-{{metadata.labels.environment}}'
        labels:
          type: 'addon-config'
        annotations:
          kargo.akuity.io/authorized-stage: 'addon-cert-manager:{{metadata.labels.kargo-stage}}-config'
      spec:
        project: default
        sources:
          - repoURL: https://github.com/Squallium/kubernetes-at-home.git
            targetRevision: main
            ref: values
          - repoURL: https://squallium.github.io/kubernetes-at-home
            chart: cert-manager-config
            targetRevision: '{{chart.targetRevision}}'
            helm:
              valueFiles:
                - $values/addons/cert-manager/config/values.yaml
                - $values/addons/cert-manager/config/{{metadata.labels.environment}}/values.yaml
        destination:
          server: '{{server}}'
          namespace: cert-manager
        syncPolicy:
#            automated:
#              prune: false
#              selfHeal: false
          syncOptions:
            - CreateNamespace=true
        ignoreDifferences:
          - group: apps
            kind: Deployment
            jsonPointers:
              - /spec/replicas
        info:
          - name: url
            value: https://argoproj.github.io/
    syncPolicy:
      # Set Application finalizer
      preserveResourcesOnDeletion: true
    # Templating is only available on string type
  #      templatePatch: |
  #        spec:
  #          source:
  #            helm:
  #              valueFiles:
  #              {{- range $valueFile := .valueFiles }}
  #                - {{ $valueFile }}
  #              {{- end }}
  #        {{- if .autoSync }}
  #          syncPolicy:
  #            automated:
  #              prune: {{ .prune }}
  #        {{- end }}
  coredns-config:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    # See PR #10026 (ArgoCD v2.5 or later)
    # goTemplate: false
    generators:
      - matrix:
          generators:
            - clusters: {}
            - git:
                repoURL: https://github.com/Squallium/kubernetes-at-home.git
                revision: main
                files:
                  - path: 'addons/coredns/config/{{metadata.labels.environment}}/config.yaml'
    # Ref https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Controlling-Resource-Modification/#allow-temporarily-toggling-auto-sync
    ignoreApplicationDifferences:
      - jsonPointers:
          - /spec/syncPolicy
    # Progressive Syncs is an experimental feature and it must be explicitly enabled
    # Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Progressive-Syncs/#enabling-progressive-syncs
    #      strategy:
    #        type: RollingSync
    #        rollingSync:
    #          steps:
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - guestbook
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - kustomize-foo
    #              - kustomize-bar
    template:
      metadata:
        name: 'coredns-config-{{metadata.labels.environment}}'
        labels:
          type: 'addon-config'
        annotations:
          kargo.akuity.io/authorized-stage: 'addon-coredns:{{metadata.labels.kargo-stage}}-config'
      spec:
        project: default
        sources:
          - repoURL: https://github.com/Squallium/kubernetes-at-home.git
            targetRevision: main
            ref: values
          - repoURL: https://squallium.github.io/kubernetes-at-home
            chart: coredns-config
            targetRevision: '{{chart.targetRevision}}'
            helm:
              valueFiles:
                - $values/addons/coredns/config/values.yaml
                - $values/addons/coredns/config/{{metadata.labels.environment}}/values.yaml
        destination:
          server: '{{server}}'
          namespace: kube-system
        syncPolicy:
#            automated:
#              prune: false
#              selfHeal: false
          syncOptions:
            - CreateNamespace=true
        ignoreDifferences:
          - group: apps
            kind: Deployment
            jsonPointers:
              - /spec/replicas
        info:
          - name: url
            value: https://argoproj.github.io/
    syncPolicy:
      # Set Application finalizer
      preserveResourcesOnDeletion: true
    # Templating is only available on string type
  #      templatePatch: |
  #        spec:
  #          source:
  #            helm:
  #              valueFiles:
  #              {{- range $valueFile := .valueFiles }}
  #                - {{ $valueFile }}
  #              {{- end }}
  #        {{- if .autoSync }}
  #          syncPolicy:
  #            automated:
  #              prune: {{ .prune }}
  #        {{- end }}