applicationsets:
  new-idea:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
      - resources-finalizer.argocd.argoproj.io
    # See PR #10026 (ArgoCD v2.5 or later)
    # goTemplate: false
    generators:
      - matrix:
          generators:
            - list:
                elements:
                  - name: 'kube-prometheus-stack-dev'
                    chartRepoUrl: 'https://prometheus-community.github.io/helm-charts'
                    chartName: 'kube-prometheus-stack'
            - git:
                repoURL: https://github.com/Squallium/kubernetes-at-home.git
                revision: main
                files:
                  - path: 'apps/{{name}}/config.yaml'
    # Ref https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Controlling-Resource-Modification/#allow-temporarily-toggling-auto-sync
    ignoreApplicationDifferences:
      - jsonPointers:
          - /spec/syncPolicy
    # Progressive Syncs is an experimental feature and it must be explicitly enabled
    # Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Progressive-Syncs/#enabling-progressive-syncs
    #      strategy:
    #        type: RollingSync
    #        rollingSync:
    #          steps:
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - guestbook
    #          - matchExpressions:
    #            - key: project
    #              operator: In
    #              values:
    #              - kustomize-foo
    #              - kustomize-bar
    template:
      metadata:
        name: '{{name}}'
        labels:
          type: 'service'
        annotations:
          kargo.akuity.io/authorized-stage: '{{name}}-core'
      spec:
        project: default
        sources:
          - repoURL: https://github.com/Squallium/kubernetes-at-home.git
            targetRevision: main
            ref: values
          - repoURL: https://squallium.github.io/kubernetes-at-home
            chart: paperless-ngx
            targetRevision: '{{chart.targetRevision}}'
            helm:
              valueFiles:
                - $values/apps/{{name}}/values.yaml
                - $values/apps/{{name}}/values.yaml
                - $values/defaults/{{metadata.labels.environment}}/resources/values.yaml
        destination:
          server: https://kubernetes.default.svc
          namespace: {{name}}
        syncPolicy:
          #            automated:
          #              prune: false
          #              selfHeal: false
          syncOptions:
            - CreateNamespace=true
            - ServerSideApply=true
        ignoreDifferences:
          - group: apps
            kind: Deployment
            jsonPointers:
              - /spec/replicas
        info:
          - name: url
            value: https://argoproj.github.io/
    syncPolicy:
      # Set Application finalizer
      preserveResourcesOnDeletion: true
    # Templating is only available on string type
    #      templatePatch: |
    #        spec:
    #          source:
    #            helm:
    #              valueFiles:
    #              {{- range $valueFile := .valueFiles }}
    #                - {{ $valueFile }}
    #              {{- end }}
    #        {{- if .autoSync }}
    #          syncPolicy:
    #            automated:
    #              prune: {{ .prune }}
    #        {{- end }}

applications:
  kube-prometheus-stack:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations:
      kargo.akuity.io/authorized-stage: 'kube-prometheus-stack:core'
    finalizers:
    - resources-finalizer.argocd.argoproj.io
    project: default
    sources:
    - repoURL: https://github.com/Squallium/kubernetes-at-home.git
      targetRevision: main
      ref: values
    - repoURL: https://prometheus-community.github.io/helm-charts
      chart: kube-prometheus-stack
      targetRevision: 75.4.0
      helm:
        valueFiles:
          - $values/apps/kube-prometheus-stack/values.yaml
          - $values/apps/kube-prometheus-stack/values-ssl.yaml
    destination:
      server: https://kubernetes.default.svc
      namespace: kube-prometheus-stack
    syncPolicy:
#      automated:
#        prune: false
#        selfHeal: false
      syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    revisionHistoryLimit: null
    ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
      - /spec/replicas
    info:
    - name: url
      value: https://argoproj.github.io/
  loki:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
    - resources-finalizer.argocd.argoproj.io
    project: default
    sources:
    - repoURL: https://github.com/Squallium/kubernetes-at-home.git
      targetRevision: main
      ref: values
    - repoURL: https://grafana.github.io/helm-charts
      chart: loki
      targetRevision: 6.30.1
      helm:
        valueFiles:
          - $values/apps/loki/values.yaml
    destination:
      server: https://kubernetes.default.svc
      namespace: loki
    syncPolicy:
#      automated:
#        prune: false
#        selfHeal: false
      syncOptions:
      - CreateNamespace=true
    revisionHistoryLimit: null
    ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
      - /spec/replicas
    info:
    - name: url
      value: https://argoproj.github.io/
  promtail:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
    - resources-finalizer.argocd.argoproj.io
    project: default
    sources:
    - repoURL: https://github.com/Squallium/kubernetes-at-home.git
      targetRevision: main
      ref: values
    - repoURL: https://grafana.github.io/helm-charts
      chart: promtail
      targetRevision: 6.17.0
      helm:
        valueFiles:
          - $values/apps/promtail/values.yaml
    destination:
      server: https://kubernetes.default.svc
      namespace: promtail
    syncPolicy:
#      automated:
#        prune: false
#        selfHeal: false
      syncOptions:
      - CreateNamespace=true
    revisionHistoryLimit: null
    ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
      - /spec/replicas
    info:
    - name: url
      value: https://argoproj.github.io/
  kargo:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
    - resources-finalizer.argocd.argoproj.io
    project: default
    sources:
    - repoURL: https://github.com/Squallium/kubernetes-at-home.git
      targetRevision: main
      ref: values
    - repoURL: ghcr.io/akuity/kargo-charts
      chart: kargo
      targetRevision: 1.8.4
      helm:
        valueFiles:
          - $values/apps/kargo/values.yaml
    destination:
      server: https://kubernetes.default.svc
      namespace: kargo
    syncPolicy:
#      automated:
#        prune: false
#        selfHeal: false
      syncOptions:
      - CreateNamespace=true
    revisionHistoryLimit: null
    ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
      - /spec/replicas
    info:
    - name: url
      value: https://argoproj.github.io/
  argo-rollouts:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
    - resources-finalizer.argocd.argoproj.io
    project: default
    sources:
    - repoURL: https://github.com/Squallium/kubernetes-at-home.git
      targetRevision: main
      ref: values
    - repoURL: https://argoproj.github.io/argo-helm
      chart: argo-rollouts
      targetRevision: 2.40.2
      helm:
        valueFiles:
          - $values/apps/argo-rollouts/values.yaml
    destination:
      server: https://kubernetes.default.svc
      namespace: argo-rollouts
    syncPolicy:
#      automated:
#        prune: false
#        selfHeal: false
      syncOptions:
      - CreateNamespace=true
    revisionHistoryLimit: null
    ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
      - /spec/replicas
    info:
    - name: url
      value: https://argoproj.github.io/
  kargo-config:
    namespace: argocd
    additionalLabels: {}
    additionalAnnotations: {}
    finalizers:
    - resources-finalizer.argocd.argoproj.io
    project: default
    sources:
    - repoURL: https://github.com/Squallium/kubernetes-at-home.git
      targetRevision: main
      ref: values
    - repoURL: https://squallium.github.io/kubernetes-at-home
      chart: kargo-config
      targetRevision: 0.0.5
      helm:
        valueFiles:
          - $values/apps/kargo/config/values.yaml
    destination:
      server: https://kubernetes.default.svc
      namespace: kargo
    syncPolicy:
#      automated:
#        prune: false
#        selfHeal: false
      syncOptions:
      - CreateNamespace=true
    revisionHistoryLimit: null
    ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
      - /spec/replicas
    info:
    - name: url
      value: https://argoproj.github.io/