image:
  repository: ghcr.io/crocodilestick/calibre-web-automated
  tag: V3.1.4
deployment:
  additionalVolumeMounts:
    - name: calibre-books
      mountPath: /calibre-library
    - name: calibre-ingest
      mountPath: /cwa-book-ingest
  additionalVolumes:
    - name: calibre-books
      hostPathPath: calibre-library
    - name: calibre-ingest
      hostPathPath: ingest
  resources:
    requests:
      cpu: 500m
      memory: 256Mi
    limits:
      cpu: 750m
      memory: 256Mi
ingress:
  hostname: calibre-web.internal
